@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
*/
html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
    scroll-behavior: smooth;
    background-color: #2B2B37;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    transition: 0.25s;
}

a:hover {
    color: #76C893;
}

.main {
    width: 65%;
    margin: 0 auto;
}