img {
    width: 4rem;
}

#logo {
    position: absolute;
    z-index: 99;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(65deg, #D9ED92, #34A0A4);
    z-index: 1;
    overflow: hidden;
}

/*
anim
*/
.navigation {
    float: right;
    margin-top: 1rem;
}

.btn {
    width: 3rem;
    z-index: 3;
    position: absolute;
}

.btn:before,
.btn:after {
    background: #99D98C;
    content: "";
    display: block;
    height: 0.3rem;
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    transition: 0.5s;
}



.anim:before {
    transform: translateY(0.6rem) rotate(135deg);
    background-color: #2B2B37;
}

.anim:after {
    transform: translateY(-0.6rem) rotate(-135deg);
    background-color: #2B2B37;
}